

.my-col{
    border: 5px dotted black;
}
.my-row{
    border: 2px solid red;
}

.btn-3::after{
    height: 0;
    left: 0;
    bottom: 0;
    transition-duration: 0.6s;
    width: 100%;
}

.scroll {
    max-height: 100px;
    overflow-y: auto;
}

footer{
    background-color: grey;
}

.weatherHead{

}
#weatherHead{
    color: white;
    background-color: #3B94D9;
}

