
.my-col{
    border: 5px dotted black;
}
.my-row{
    border: 2px solid red;
}

/*pertains to home,prof,msg,photos...search box*/
.nav-list{
    display: flex;
    /*flex-direction: row;*/
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-3::after{
    height: 0;
    left: 0;
    bottom: 0;
    transition-duration: 0.6s;
    width: 100%;
}

.scroll {
    max-height: 100px;
    overflow-y: auto;
}

footer{
    background-color: grey;
}

#weatherHead{
    color: white;
    background-color: #3B94D9;
}

/* utilizing the 2cnVariable3dcarousel css from cool-toolz repository */

section#carousel{
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}

div.item{
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r)*-1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)));
    translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}

/*div tag w/ item class and the nth-of-type is a structural pseudo class
allows you select one or more elements based on their source order*/

/* 1st card */
div.item:nth-of-type(1){
    --offset: 1;
    background-color: #dba858;
}
/* 2nd card */
div.item:nth-of-type(2){
    --offset: 2;
    background-color: #083248;
}
/* 3rd card */
div.item:nth-of-type(3){
    --offset: 3;
    background-color: #e89c31;
}
/* 4th card */
div.item:nth-of-type(4){
    --offset: 4;
    background-color: #8c0e0f;
}
/* 5th card */
div.item:nth-of-type(5){
    --offset: 5;
    background-color: #0b2838;
}

/*todo ########## detail section here ##########*/
input:nth-of-type(1){
    grid-column: 2/3;
    grid-row: 2/3;
}
input:nth-of-type(2){
    grid-column: 3/4;
    grid-row: 2/3;
}
input:nth-of-type(3){
    grid-column: 4/5;
    grid-row: 2/3;
}
input:nth-of-type(4){
    grid-column: 5/6;
    grid-row: 2/3;
}
input:nth-of-type(5){
    grid-column: 6/7;
    grid-row: 2/3;
}

/*shuffle carousel into appropriate position when checked*/
input:nth-of-type(1):checked ~ section#carousel{
    --position: 1;
}
input:nth-of-type(2):checked ~ section#carousel{
    --position: 2;
}
input:nth-of-type(3):checked ~ section#carousel{
    --position: 3;
}
input:nth-of-type(4):checked ~ section#carousel{
    --position: 4;
}
input:nth-of-type(5):checked ~ section#carousel{
    --position: 5;
}


