

.my-col{
    border: 5px dotted black;
}
.my-row{
    border: 2px solid red;
}

.btn-3::after{
    height: 0;
    left: 0;
    bottom: 0;
    transition-duration: 0.6s;
    width: 100%;
}

.scroll {
    max-height: 100px;
    overflow-y: auto;
}

footer{
    background-color: grey;
}

.weatherHead{

}
#weatherHead{
    color: white;
    background-color: #3B94D9;
}

/* utilizing the 2cnVariable3dcarousel css from cool-toolz repository */

section#carousel{
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}

div.item{
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r)*-1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)));
    translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}
/* first card color*/
div.item:nth-of-type(1){
    --offset: 1;
    background-color: #90f1ef;
}